#footer, .feature #feature-box .features, #banner .text .bottom > a {
  border: 2px solid black;
}

.menu {
  background-color: rgba(12, 2, 3, 0);
}

body {
  font-family: "Salsa", cursive;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.549), rgba(244, 94, 244, 0.299)), url(../img/pexels-photo-234220.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#banner > figure > img {
  width: 100px;
  position: absolute;
  top: 2%;
  left: 2%;
}
#banner .text {
  text-align: center;
  color: black;
  padding-top: 300px;
}
#banner .text > h1 {
  font-size: 100px;
}
#banner .text > p {
  font-size: 25px;
  font-family: italic;
  font-weight: bold;
}
#banner .text .bottom {
  margin: 70px auto 0;
}
#banner .text .bottom > a {
  width: 200px;
  display: inline-block;
  margin: 0 10px;
  padding: 15px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.393);
  transition: 0.5s;
}
#banner .text .bottom > a:hover {
  width: 20%;
}

.menu {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.menu > nav > ul > li {
  list-style: none;
  margin: 50px 25px;
}
.menu > nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.icon {
  width: 70px;
  height: 70px;
  color: white;
  text-align: center;
  position: fixed;
  right: 55px;
  top: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.feature {
  width: 100%;
  padding: 80px 0;
}
.feature > div {
  text-align: center;
  padding-bottom: 70px;
}
.feature > div > p {
  font-size: 15px;
  margin: auto;
  line-height: -5px;
  color: rgba(224, 28, 93, 0.8);
}
.feature > div > h2 {
  font-size: 90px;
  color: rgba(0, 0, 0, 0.434);
  line-height: -3px;
  font-family: italic;
}
.feature #feature-box {
  width: 100%;
  margin: auto;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.feature #feature-box .features {
  flex-basis: 50%;
  font-weight: bold;
  font-size: 35px;
  line-height: -10px;
}
.feature #feature-box .features > h3 {
  font-size: 90px;
  line-height: -22px;
  color: rgba(0, 0, 0, 0.549);
}
.feature #feature-box .features > p {
  color: rgba(224, 28, 93, 0.8);
  font-size: 15px;
  text-transform: capitalize;
}
.feature #feature-box .features-img {
  flex-basis: 50%;
  margin: auto;
}
.feature #feature-box .features-img > img {
  width: 50%;
}

#service {
  width: 100%;
  padding: 80px;
}
#service > div {
  text-align: center;
  font-size: 15px;
}
#service > div > h2 {
  color: rgba(0, 0, 0, 0.597);
  font-size: 90px;
}
#service > div > p {
  color: rgba(224, 28, 93, 0.8);
  font-size: 15px;
}
#service .sevvice-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
#service .sevvice-box > div {
  flex-basis: 48%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  position: relative;
}
#service .sevvice-box > div:hover > .services-desc {
  opacity: 1;
  bottom: 40%;
}
#service .sevvice-box > div > img {
  width: 100%;
  border-radius: 10px;
}
#service .sevvice-box > div .over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.645), rgba(128, 0, 128, 0.574));
  opacity: 0;
  transition: 0.5s;
}
#service .sevvice-box > div .over:hover {
  opacity: 1;
}
#service .sevvice-box > div .services-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.4s;
}
#service .sevvice-box > div .services-desc > p {
  font-size: 15px;
}
#service .sevvice-box > div .services-desc > hr {
  background-color: black;
  height: 3px;
  margin: 15px auto;
  width: 60%;
}

#footer {
  width: 100%;
  background-color: rgba(128, 0, 128, 0.71);
}
#footer > div {
  margin: 30px;
}
#footer > div > P {
  font-size: 25px;
  text-align: start;
}
#footer > div > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=master.css.map */